<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hello-World-Swift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C964013F1DDA7AC2002A3516</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C96401561DDA7AC2002A3516</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C96401611DDA7AC2002A3516</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
